.lougout-screen {
  height: 100vh;
  overflow: hidden;
}

.logout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout-container .nav {
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  background-color: var(--fourth-color);
  box-shadow: 0 0 10px var(--second-color);
}

.pre-nav {
  width: 25%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--first-color);
}

.pre-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
}

.pre-nav ul li:not(:nth-child(1)) {
  margin-top: 2%;
  position: relative;
  cursor: pointer;
  color: var(--first-color);
}

.pre-nav ul li:not(:nth-child(1))::before {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 0;
  height: 0.25rem;
  background-color: var(--first-color);
  transition: all 0.5s;
}

.pre-nav ul li:nth-child(2)::before {
  width: 100%;
}

.pre-nav ul li:not(:nth-child(1)):hover::before {
  width: 100%;
}

.post-nav {
  width: 20%;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.post-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 80%;
  font-size: 1.5rem;
}

.post-nav ul li:nth-child(1) {
  font-size: 1.6rem;
  margin-top: 3%;
}

.post-nav ul li:nth-child(3),
.body-container button {
  width: 30%;
  text-align: center;
  padding: 0.25rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(
    to left,
    var(--first-color) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: right;
  transition: all 1s;
}

.post-nav ul li:nth-child(3):hover {
  background-position: left;
  background-size: 300%;
}

.post-nav ul li:nth-child(3) .link {
  color: white;
}

.post-nav ul li:nth-child(3):hover .link {
  color: black;
}

.post-nav ul li .link {
  text-decoration: none;
  transition: all 1s;
  color: var(--first-color);
}

.body {
  height: 90vh;
  width: 100%;
  background-image: url("../Images/body.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.body .body-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 50%;
  width: 90%;
  color: white;
}

.body-container .body-header {
  font-size: 3rem;
}

.body-container .body-info {
  font-size: 2rem;
  width: 40%;
}

.body-container button {
  width: 8rem;
  height: 3rem;
  font-size: 1.5rem;
  background-position: right;
  background-image: linear-gradient(
    to left,
    transparent 50%,
    var(--first-color) 50%
  );
  background-size: 200% 100%;
  color: #000;
  border: none;
  box-shadow: 0 0 10px white;
}

.body-container button:hover {
  color: white;
  background-position: left;
}

footer {
  position: absolute;
  bottom: -30vh;
  left: 0;
  right: 0;
  background: var(--first-color);
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  padding: 5px;
  border-radius: 50%;
}

.social-icon {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.social-icon:hover {
  color: var(--third-color);
}

.footer-bottom {
  background: var(--first-color);
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
.footer-menu {
  float: right;
}
.footer-menu ul {
  display: flex;
}
.footer-menu ul li {
  padding-right: 10px;
  display: block;
}
.footer-menu ul li a {
  color: #cfd2d6;
  cursor: pointer;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: #27bcda;
}

@media (max-width: 500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
