.quiz {
  display: inline-flex;
  border-radius: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--gray);
  height: 10rem;
  width: 21%;
  margin: 0 1%;
  padding: 1rem;
  font-size: 1rem;
  color: white;
}

.quiz-instructor-name,
.quiz-title,
.quiz-score {
  color: white;
}

.quiz-info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 8rem;
  width: 100%;
}

.quiz-question-count,
.delete-btn-container {
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: white;
  color: black;
  padding: 5px;
  text-align: center;
}

.quiz-edit-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-btn-container {
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.delete-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  transition: all 0.5s;
  margin-right: 3%;
}

.icon {
  transition: all 0.5s;
  font-size: 1rem;
}
