.field-container,
.question-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.input-field-container,
.question-field {
  position: relative;
  width: 100%;
}

.input-field-container input,
.question-field input {
  margin-bottom: 2rem;
  position: relative;
  background-color: transparent;
  width: 90%;
  height: 1.5rem;
  outline: none;
  font-size: 1.5rem;
  border: none;
  border-bottom: 0.1rem solid rgb(var(--first-color));
  padding: 0 0 0.5rem 0.5rem;
}

.input-field-container label,
.question-field label {
  opacity: 1;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  transition: all 0.5s;
  color: rgb(var(--first-color));
}

.input-field-container input:focus ~ label,
.input-field-container input:valid ~ label,
.question-field input:valid ~ label,
.question-field input:focus ~ label {
  top: -1.5rem;
  font-size: 1rem;
}

.question-inputs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.question-container {
  width: 40%;
  height: 20%;
}
