:root {
  --first-color: 39, 0, 93;
  --second-color: 148, 0, 255;
  --third-color: 174, 210, 255;
  --fourth-color: 228, 241, 255;
  --gray: #2e3856;
}

* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}
